// src/components/title.scss

.typewriter-container {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 3rem;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
  text-align: center;
}

#typedtext {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}
