@import '../../style/main.scss';
@import '../../style/mixin.scss';
@import '../../style/variables.scss';

header {
  display: flex;
  background-color: #d5e2db;
  height: 250px;
  padding: 20px;
  picture {
    width: 60%;
    img {
      height: 100%;
    }
  }
  ul {
    display: flex;
    gap: 5rem;
    font-size: 30px;
  }
}
